.work-tabs {
  .ReactTabs__TabList {
    margin-bottom: 0;
  }
  .ReactTabs__TabPanel {
    padding: 32px;
    border: 1px solid #bbb;
    border-top: none;
    font-family: monospace;
    font-size: 12px;
    overflow: hidden;

  }
}
