.page-account-notifications {
  @import '../Account.scss';

  table {
    thead {
      th {
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    tbody {
      td:first-child {
        text-align: center;
      }
    }
  }
}