.modal-login {
  width: 281px;
  height: calc(404px + 71px);
  display: flex;
  flex-direction: column;
  padding: 0;

  background-color: transparent;
  border: none;
  box-shadow: none;

  > header h1 {
    font-family: "Source Sans Pro";
    font-size: 26px;
    text-align: center;
    line-height: 33px;
    color: #FFFFFF;
    margin-bottom: 30px;
  }

  > section {
    flex-grow: 1;
    border: 1px solid #979797;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    padding: 30px 18px 18px 18px;

    .qr {
      margin-bottom: 20px;
    }

    h2 {
      font-family: "Source Sans Pro";
      font-size: 16px;
      text-align: center;
      line-height: 20px;
      color: #000000;
      margin-bottom: 28px;
    }

    .onboard, .scan {
      display: flex;
      align-items: center;
      margin-bottom: 40px;

      .placeholder-box {
        display: block;
        width: 35px;
        height: 40px;
        margin-right: 18px;
        background-color: #D8D8D8;
      }

      h3 {
        font-family: "Source Sans Pro";
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
        color: #000;
        text-align: left;

        a {
          color: #4A90E2;
          text-decoration: underline;
        }
      }

      .text-muted {
        font-family: "Source Sans Pro";
        font-size: 12px;
        line-height: 15px;
        color: #5B5B5B;
      }
    }

  }

}