@mixin full-screen() {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.backdrop {
  @include full-screen();
  z-index: -1;
  background-color: #000;
  opacity: 0.75;
}

.modal {
  @include full-screen();
  z-index: 1040;
  text-align: center;
  position: fixed;
  display: block;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  padding: 20px;
}

.modals-container {
  @include full-screen();
  z-index: 1000;
  display: flex;
}