@import "../templates/Animations";
@import "./Modal";

.modal-sign-transaction {
  @include modal;
  text-align: center;
  padding: 20px;
  width: 400px;

  &.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 470px; // TODO: magic number!

    img {
      @include animation-loading-quill;
      width: 100px;
    }
  }
}