.text-upload {
  textarea {
    min-width: 400px;
    min-height: 150px;
    max-width: 100%;
    width: 100%;
    padding: 12px;
    border: 1px solid lightgray;
    border-radius: 8px;
    resize: both;
    color: gray;
  }

  span {
    margin-left: 10px;
    color: gray;
  }
}