.preview {
  >section {
    >table {
      >tbody {
        >tr {
          >td:first-child {
            min-width: 130px;
          }
          >td:last-child {
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 0;
          }
        }
      }
    }
  }
}