.page-account-wallet {
  padding-bottom: 150px;

  header {
    margin-bottom: 38px;

    h1 {
      font-family: "Merriweather Light";
      font-size: 32px;
      font-weight: 300;
      line-height: 36px;
      color: #666666;
    }
  }
  main {
    .wallet-info {
      padding: 20px;
      background-color: #FFFFFF;
      text-align: center;

      .balance {
        padding: 15px 0;
        font-family: "Roboto Slab";
        font-weight: bold;
        text-align: center;
        color: #413D3B;

        .primary {
          font-size: 32px;
          line-height: 43px;
        }

        .secondary {
          font-size: 12px;
          line-height: 16px;
        }
      }

      .qr {
        img {
          width: 130px;
          height: 130px;
          margin-bottom: 10px;
        }
      }

      .address {
        margin-bottom: 20px;
        font-size: 10px;
        line-height: 18px;
        color: #666666;
        display: flex;
        align-items: center;
        justify-content: center;

        input {
          display: block;
          position: fixed;
          width: 10px;
          height: 10px;
          top: -20px;
          left: -20px;
          outline: none;
          cursor: pointer;
        }

        button {
          width: 33px;
          height: 33px;
          margin-right: 8px;
          border: 1px solid #413D3B;
          border-radius: 50%;
          font-family: "Roboto Slab";
          font-size: 8px;
          line-height: 18px;
          color: #413D3B;
          outline: none;
          cursor: pointer;

          &:hover {
            border-color: lighten(#413D3B, 15%);
            color: lighten(#413D3B, 15%);
          }
        }

      }

      nav {
        button {
          width: 100%;
        }

        .separator {
          display: flex;
          justify-content: center;
          align-items: center;

          hr {
            flex-grow: 1;
            border-top: 1px solid #E6E4E1;
          }

          span {
            margin: 0 10px;
            opacity: 0.5;
            font-family: "Roboto Slab";
            font-size: 12px;
            text-align: center;
            line-height: 18px;
            color: #413D3B;
          }
        }
      }
    }
  }
}