.works header {
  display: flex;
  font-size: 10px;
  align-items: center;
  padding: 15px 0;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
  background-color: white;

  >div {
    display: flex;
    align-items: center;

    select, input[type="text"] {
      border: 1px solid lightgray;
    }

    button {
      font-size: 10px;
    }
  }

}
.no-margin-bottom {
  margin-bottom: 0!important;
}