.works header {
  display: flex;
  font-size: 10px;
  align-items: center;
  padding: 15px 0;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
  background-color: white;



  >div {
    display: flex;
    align-items: center;

    select, input[type="text"] {
      border: 1px solid lightgray;
    }

    button {
      font-size: 10px;
    }
  }

  .date-picker {

    .calendar-button {
      border-radius: 3px;
      font-size: 10px;
      text-align: center;
      //line-height: 25px;
      border: 1px solid #E6E4E1;
      padding: 5px 7px;

      span {
        font-family: 'Roboto';
        font-weight: 300;
      }

      img {
        position: relative;
        top: -1px;
        margin-left: 6px;
      }
    }

    .date-picker-separator {
      margin: 0 8px;
    }
  }

}
