.works header {
  display: flex; // bootstrap's d-flex isn't working for some reason
  font-size: .7em;
  align-items: center;
  background-color: #f7f7f7;
  border-top: 3px solid #eee;
  border-bottom: 1px solid #c8c8c8;
  padding: 7px 12px 5px 8px !important;
  margin-bottom: 22px !important;

  >div {
    display: flex;
    align-items: center;

    select, input[type="text"] {
      border: 1px solid lightgray;
    }
  }

}
.no-margin-bottom {
  margin-bottom: 0!important;
}