.works-results {
  font-family: 'Roboto Slab';

  .showing-results {
    font-size: 18px;
    font-weight: bold;
    font-family: inherit;
    margin-bottom: 48px;
  }

  ul {
    font-family: inherit;

    li {
      font-size: 12px;
      font-family: inherit;

      a {
        color: #4A4A4A;
        font-family: inherit;
      }

      h3 {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}
