.page-works > section.works {
  font-family: 'Roboto Slab';

  .work-count {
    font-size: 18px;
    font-weight: 300;
    font-family: inherit;
    margin-bottom: 48px;
  }

  ul.works {
    list-style: none;

    li {
      font-size: 10px;

      a {
        color: #4A4A4A;
      }

      .name {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 19px;
      }

      .info {
        margin-bottom: 11px;

        .timestamp {
          font-weight: bold;
          margin-bottom: 19px;
        }

      }
    }
  }

  .pagination {
    ul {
      display: flex;
      flex-direction: row;
      list-style: none;

      li {
        $size: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $size;
        height: $size;
        margin-right: 8px;

        background-color: white;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        cursor: pointer;

        font-size: 12px;
        color: #666666;
        text-decoration: none;

        user-select: none;

        &.selected {
          background-color: #43B980;
          color: white;
          border-color: transparent;
        }

        &.disabled {
          color: #aaa;
          cursor: default;
        }

      }
    }
  }

}
