.works-results {
  .showing-results {
    font-size: 16px;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
  }
  .author {
    font-size: 12px;
  }
  small {
    font-size: 10px;
  }
  .content {
    font-size: 12px;
  }
}
