.work {
  display: flex;
  color: #666;
  font-family: "Source Sans Pro", SansSerif, Helvetica, Arial;
  font-size: 14px;

  @import "Overview";
  @import "Tabs";
  @import "WorkOfferings";
  @import "Title";
}
