.tabs {
  $border-color: #bbb;

  .header {
    ul {
      list-style: none;
      font-size: 14px;
      $li-background-color: #ddd;

      li {
        display: inline-block;
        padding: 4px 16px;
        margin-right: 2px;
        border: 1px solid $border-color;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
        cursor: pointer;
        text-transform: capitalize;
        background-color: $li-background-color;
      }

      li.selected {
        background-color: lighten($li-background-color, 10%);
        color: #4A90E2;
      }

      li:hover {
        background-color: lighten($li-background-color, 10%);
      }
    }
  }
  > .content {
    padding: 32px;
    border: 1px solid $border-color;
    font-family: monospace;
    font-size: 12px;

    table {
      margin-bottom: 30px;
      .keys {
        width: 200px;
      }
      .values {

      }
    }

    > .content {

    }
  }
}
