.title {
  border: 1px solid black;
  padding: 10px;

  h3 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  table {
    font-size: 12px;

    col.keys {
      width: 150px;
    }

  }
}

