.landing-logged-in {
  .search {
    padding-bottom: 200px;
    border-bottom: 1px solid gray;

    input[type="text"] {
      border: 1px solid gray;
      padding: 6px;
      border-radius: 4px;
      width: 500px;
    }
  }
}