.create-work .step-3-publish .preview {
  background-color: white;
  border: 1px solid #979797;
  color: #666666;

  >section {
    >table {
      >tbody {
        >tr {
          >td:first-child {
            min-width: 130px;
          }
        }
      }
    }
  }
}

