// TODO(eordano): Extract this to a global variable
$almost-black: #222;
$almost-white: #fafafa;

.navbar {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;

  display: flex;
  width: 100%;
  border-bottom: 1px solid $almost-white;
  justify-content: space-between;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial;

  h1 {
    margin-left: 10px;
  }

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      min-wdith: 80px;
      list-style: none;
      margin-left: 5px;
      margin-right: 15px;
    }
  }
}