* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

.root-layout {
  margin: 0;
  padding: 0;
}

htlm, body {
  font-family: "Source Sans Pro";
  color: #4a4a4a;
  background-color: #F8F6F4;
}

html, body, #app, .root-layout {
  height: 100%;
}

.root-layout {
  display: flex;
  flex-direction: column;

  >* {
    flex-shrink: 0;
  }
}

.text-center {
  text-align: center;
}

input[type="text"], textarea {
  font-family: "Source Sans Pro";
  font-size: 12px;
  line-height: 18px;
  border: 1px solid #E6E4E1;
  border-radius: 4px;
  color: #4A4A4A;
  background-color: #FFFFFF;

  &::placeholder {
    color: lighten(#4A4A4A, 20%);
  }
}

textarea {
  padding: 12px;
}